# Dependencies
node_modules/
.pnp
.pnp.js

# Cache & build
dist/
dist-test/
build/
traces/
.npm-cache/
.eslintcache
*.tsbuildinfo

# Environment variables & secrets
.env
.env.local
.env.*.local
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS & Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# demo test residue
examples/demo/big.txt
